{{!-- {{#if admin}} --}}
<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Success</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/admin/img/admin.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Uvais Kolambalam</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a id="dashboard" href="/admin" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a id="products" href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a  href="/admin/allProducts" class="dropdown-item">All Products</a>
                            {{#each category}}
                            <a  href="/admin/products/{{this.productCategory}}" class="dropdown-item">{{this.productCategory}}</a>
                            {{/each}} 
                            {{!-- <a href="/admin/sketchbook" class="dropdown-item">Sketchbook</a>
                            <a href="/admin/office" class="dropdown-item">Office</a>
                            <a href="/admin/diary" class="dropdown-item">Diary</a> --}}
                        </div>
                    </div>
                    {{!-- <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>--}}
                    <a id="addProduct" href="/admin/add_product" class="nav-item nav-link "><i class="fa fa-cart-plus me-2" aria-hidden="true"></i>Add Products</a>
                    
                    <a id="users" href="/admin/allUsers" class="nav-item nav-link "><i class="fa fa-user me-2" aria-hidden="true"></i>Users</a>
                    <a id="coupon" href="/admin/coupon" class="nav-item nav-link "><i class="fa fa-coffee" aria-hidden="true"></i> Add Coupon</a>
                    <a id="orders" href="/admin/orders" class="nav-item nav-link "><i class="fa fa-bell" aria-hidden="true"></i> Orders</a>
                    <a id="orders" href="/admin/allSlaesReport" class="nav-item nav-link "><i class="fa fa-balance-scale" aria-hidden="true"></i> Sales Report</a>
                    {{!-- <a href="/admin/add_product" class="nav-item nav-link"><i class="bi bi-bag-plus-fill"></i>Add product</a> --}}
                    {{!-- <div class="nav-item dropdown">
                        <a  href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            
                            <a href="/admin/admin_login" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> --}}
                    <a href="/admin/logout" class="nav-item nav-link"><i class="bi bi-box-arrow-right me-2"></i>Logout</a> 
                </div>
            </nav>
        </div>
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/admin/img/admin.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Uvais</span>
                        </a>
                        {{!-- <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0 ">
                            <a id="kkk" href="#" class="dropdown-item text-white bg-dark">My Profile</a>
                            <a href="#" class="dropdown-item text-white bg-dark">Settings</a>
                            <a href="#" class="dropdown-item text-white bg-dark">Log Out</a>
                        </div> --}}
                    </div>
                </div>
            </nav>
            {{!-- {{/if}}
        
        {{{body}}} --}}